body {
  font-family: "verdana";
  background-color: #D7DBDD;
  color: #17200A;
  text-align: center;
  padding: 25px;
}

h1, h2, h3 {
  font-family: "verdana";
  color: 17202A;
}

li {
  display: inline;
}

ul {
  padding: 0px;
}

.card {
  background-color: white ;
  padding: 50px;
  width: 500px;
  margin: 25px auto;
  border-radius: 5px;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
}

#profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 75px;
}
a {
  text-decoration: none;
  background-color: #D7DBDD;
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  transition: 0.3s ease;
}
a:hover{
  background-color: #909497;
}

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
  }
}
